html{
    height: 100%;
    width: 100%;
}
#body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width:100%;
}

.full{
    height: 100%;
    width: 100%;
}

.header{
    background-color: black;    
    color: white;
}

.header .btn{
    height: 70px;
    width: 30%;
    margin: 3px 3px;
    font-weight: bold;
}

.header .btn:hover{
    background-color: black;
    color: white;
}
.buttons{
    margin: 150px 10px 0px 20px;
}
table {
    height: 100%;
    width: 100%;
}

table td{
    background-color: grey;
    height: 10%;
    width: 10%;
    margin: 0;
    border: 5px black solid;
}

.tableColumn{
    background-color: green;
}