#body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifç
}

.header{
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
}

.headerText{
    display: inline-block;
    margin: 0px 30px;
    width: 40%;
}

.header .btn{
    margin-top:5px;
    height: 50px;
    width: 100px;
}


.controls{
    display: inline-block;
    float: right;
}


table td{
    background-color: red;
    height: 40px;
    width: 40px;
    margin: 10px 10px;
    border: 2px black solid;
}